.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.operation {
  font-family: 'Arial', sans-serif;
  width: 150px;
  display: inline-block;
  position: relative;
  margin: 30px
}
.topPart {
  float: left;
  width: 100%;
}
.bottomPart {
  float: left;
  width: 100%;
  border-top: 1px solid #333;
}

.operandi {
  float: left;
  position: relative;
  width: 135px;
}
.operandi span {
  margin: 15px 10px;
  display: block;
  text-align: right
}
.operatore {
  float: left;
  position: relative;
  width: 15px;
  height: 15px;
  top: 15px;
}
.result {
  margin: 15px 10px;
  width: 115px;
  text-align: right
}